<a href="https://colab.research.google.com/github/SusheniUmayangana/Customer_churn/blob/main/FDM_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!git clone https://github.com/SusheniUmayangana/Customer_churn.git

fatal: destination path 'Customer_churn' already exists and is not an empty directory.

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
csv_url = "https://raw.githubusercontent.com/SusheniUmayangana/Customer_churn/main/botswana_bank_customer_churn.csv"
df = pd.read_csv(csv_url)
df.head()

/tmp/ipython-input-2526704755.py:2: DtypeWarning: Columns (0,19,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_url)

,RowNumber,customer_id,Surname,first_name,dob,Gender,marital_status,dependents,Occupation,Income,...,preferred_contact,credit_score,credit_history_years,outstanding_debt,churned,churn_reason,churn_date,Balance,products_count,complaints_count
0,46413.0,10e0525d-b753-4f9a-a6a5-2d7a7f9fb30c,Brown,Michael,1994-04-30,Female,Married,3,Production engineer,"$84,239.91",...,Email,395.0,28.0,28241.22,0.0,NaN,NaN,222149.73,1.0,3.0
1,111647.0,cbea14b7-cccd-4730-bffe-9935ab31e006,Gonzales,NaN,1966-12-25,Male,Married,5,Futures trader,40457.52,...,Phone,667.0,20.0,45109.20,0.0,NaN,NaN,231669.47,2.0,4.0
2,75863.0,7e66bc02-52d1-4655-b2bd-d2e612bcd4f6,Smith,Michelle,1976-02-28,Female,Married,1,"Designer, multimedia",71805.6,...,Phone,443.0,22.0,38983.71,0.0,NaN,NaN,191195.9,4.0,2.0
3,83494.0,a96b1224-e54b-4dd1-ab2b-c89d9019ed96,Anderson,Michael,04-27-1965,Female,Single,1,Community education officer,91996.19,...,Email,580.0,5.0,47595.23,0.0,NaN,NaN,129644.6,3.0,4.0
4,67278.0,bc8c8831-a7d2-4228-b835-a1e6ace7db99,Hess,Christopher,1963-08-04,Male,Married,5,Printmaker,41913.33,...,Phone,622.0,16.0,28403.67,0.0,NaN,NaN,199453.93,5.0,7.0